play.ipynb
notes.md
chamaaudio.mp3
__pycache__
speaker.json
whisper.txt
.env
0f8fba81.waptt.opus
18d28ad0.waptt.opus
a63e68fe.waptt.opus
out.wav
testapi.py
aud.wav
tests
zz.py
# OuteTTS-0.1-350M-Q8_0.gguf
